<div class='from_index_02'>
    <ul>
        <li>This</li>
        <li>included</li>
        <li>from</li>
        <li>external</li>
        <li>file</li>
        <li>02!</li>
        <li data-include="include__03.html">INCLUDED FROM 02:</li>
    </ul>
</div>
<script type='text/javascript' src='../bratty.js'></script>